<div class="mt-4">
  <div class="text-purple-600 font-bold"><%= dupe[:file] %></div>
  <%= render partial: "phrase_match", collection: dupe[:matches], as: :match, locals: { dupe: dupe, plain_text: plain_text } %>
  <br/>
</div>