<h1 class="text-4xl font-bold text-gray-900 sm:truncate">Plagiarism Detector</h1>

<p id="notice"><%= notice %></p>

<div class="flex flex-column mt-5 divide-x-4 divide-yellow-600 divide-dashed">

  <div class="py-5 pr-5 flex-grow max-w-1/2 min-w-1/2" data-controller="trix">
    <%= render 'form', post: @post %>
    <% if defined?(@dupes) && @dupes.any? %>
      <input type="hidden" data-trix-target="dupes" value="<%= @dupes.flat_map { |dupe| dupe.phrase_matches.map { |phrase_match| [phrase_match.text_start, phrase_match.text_end] } }.uniq.as_json %>">
    <% end %>
  </div>

  <% if defined?(@dupes) %>
    <div class="p-5 bl flex-grow">
      <% if @dupes.any? %>
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate">Results Found</h2>
        <%= render partial: "dupe", collection: @dupes, as: :dupe %>
      <% else %>
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate">Excellent! No Plagiarism Found...</h2>
      <% end %>
    </div>
  <% end %>
</div>